# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dependencies
vendor/

# Build artifacts
dist/
release/
basemake*
!basemake-demo.gif
!*.go
dbai

# Config
.basemake/

# Test
*.test
*.out
*.test*

# Coverage
coverage.*
coverage/
